<p-panel header="Pipes personalizados" class="p-1">
  <p>
    Pipes personalizados - creados por {{'nosotros' | toggleCase:true }}
  </p>
</p-panel>
<p-toolbar>
  <div class="p-toolbar-group-start">
    <button label="ToggleCase" pButton icon="pi pi-search" class="mr-2"></button>
    <button label="Por nombre" pButton icon="pi pi-sort" class="mr-2"></button>
    <button label="Por volar" pButton icon="pi pi-sort" class="mr-2"></button>
    <button label="Por color" pButton icon="pi pi-sort" class="mr-2"></button>
  </div>
</p-toolbar>
