
  <p-panel header="Pipes básicos">

    <p>
      Pipes incluídos en Angular - Usualmente en el common Module
    </p>
  </p-panel>

  <div class="grid mt-2">

    <div class="col-12 md:col-4">
      <p-card header="uppercase">
        {{ nameLower | uppercase }}
      </p-card>
    </div>

    <div class="col-12 md:col-4">
      <p-card header="lowercase">
        {{ nameUper | lowercase }}
      </p-card>
    </div>

    <div class="col-12 md:col-4">
      <p-card header="titlecase">
        {{ fullName | titlecase }}
      </p-card>
    </div>
